*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    /* Ainda não entendo a funcionalidade do z-index */
    z-index: 10000;
    transition: 0.6s;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(./ocean-pf.jpg);
    display: flex;
    align-items: center;
}